{% extends 'base.html' %}
{% load static %} 
{% block head %} 
<link href="{% static 'word/word_list.css' %}" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap" rel="stylesheet">
{% endblock %}
{% block content %}

<div class="content">
    <h1 class="title">Jelly Keep</h1>

    <div class="word-list">
        {% if word_list %}
            {% for word in word_list %}
                <div class="word-and-icons">
                    <img 
                        class="pure-img"
                        src="{% static 'word/images/play_button.png' %}"
                        onclick="var audio = new Audio('{{ word.audio_url }}'); audio.play();"
                    >
                    <p class="word-title">{{ word }}</p>
                    <img
                        class="pure-img play-icon"
                        src="{% static 'word/images/type_button.svg' %}"
                        onclick=""
                    >           
                    <img
                        class="pure-img play-icon"
                        src="{% static 'word/images/dic_button.svg' %}"
                        onclick="window.open('{{ word.dict_url }}', '_blank').focus();"
                    >
                </div>
            {% endfor %}
            
        {% endif %}
    </div>
</div>

{% endblock %}
