{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'word/word_form.css' %}">
{% endblock %}
{% block content %}
<div class="title">
    <h1>
        Adding new word
    </h1>
</div>
<div class="form-box">
    <form class="form" action="" method="post">
        {% csrf_token %}
        <input class="input" type="text" name="title" placeholder="Enter new word" spellcheck="true"  required>
        <input class="button" type="submit" value="Add">
    </form>
</div>
{% endblock %}
