html {
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #060606;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 647px;
    height: 100%;
    border-left: 4px solid #632323;
    border-right: 4px solid #632323;
}

.title {
    font-size: 64px;
    font-weight: 500;
    line-height: 77px;
    letter-spacing: 0em;
    text-align: left;
    color: #B84343;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
}

.word-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.word-and-icons {
    display: flex;
    gap: 25px;
    align-items: center;
    width: 90%;
    margin-bottom: 22px;
}

.word-title {
    font-size: 28px;
    margin: 0;
    flex: 2;
    text-decoration: none;
    color: white;
}
