body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100;
    background: #060606;
}

.no-word-massage {
    color: rgb(100, 100, 100);
    font-size: 25px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 647px;
    min-height: 100vh;
    border-left: 4px solid #632323;
    border-right: 4px solid #632323;
}

.title {
    font-size: 64px;
    font-weight: 500;
    line-height: 77px;
    letter-spacing: 0em;
    text-align: left;
    color: #B84343;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
}

.word-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding-bottom: 25px;
}

.word-and-icons {
    display: flex;
    gap: 25px;
    align-items: center;
    width: 90%;
    margin-bottom: 22px;
}

.play-icon:hover, .dic-icon:hover, .type-icon:hover{
    cursor: pointer;
    filter: brightness(60%);
    transition: filter 0.15s;
}

.word-title {
    font-size: 28px;
    margin: 0;
    flex: 2;
    text-decoration: none;
    color: white;
}

.buttons {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 24px;
    margin-top: 10px;
}

.new-word-button {
    height: 50px;
    width: 310px;
    border: none;
    border-radius: 4px;
    background-color: #2E8741;
    font-size: 28px;
    margin: 0;
    flex: 2;
    text-decoration: none;
    color: white;
}

.new-word-button:hover {
    cursor: pointer;
    background-color: #0E6721; 
    transition: background-color 0.15s;
}

.delete-words-button:hover {
    cursor: pointer;
    background-color: #670E0E; 
    transition: background-color 0.15s;
}

.delete-words-button {
    height: 50px;
    width: 247px;
    border-radius: 4px;
    border: none;
    background: #872E2E;
    font-size: 28px;
    margin: 0;
    flex: 2;
    text-decoration: none;
    color: white;
}
