{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link 
            rel="stylesheet" 
            href="https://cdn.jsdelivr.net/npm/purecss@2.1.0/build/pure-min.css" 
            integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH" 
            crossorigin="anonymous"
        >
        {% block head %}{% endblock %}
        <title>
            Jelly Keep
        </title>
    </head>
    <body>
        {% block content %}Content block placeholder {% endblock %}
    </body>
</html>
