{% extends 'base.html' %}
{% load static %}
{% block meta %} <link href="{% static 'registration/login.css' %}" rel="stylesheet"> {% endblock %}
{% block title %}
    Login
{% endblock %}
{% block content %}

<div class="form-title">
    <h1>Please Login</h1>
</div>
<div class="form-box">
    <form class="form" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {{ form  }}
        <input type="submit" value="Login">
        <input type="hidden" name ="next" value="{{ next }}">
    </form>
</div>

{% endblock %}
