{% extends 'base.html' %}
{% load static %}
{% block title %}
    Login
{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'registration/login.css' %}">
{% endblock %}
{% block content %}

<div class="title">
    <h1>Please Login</h1>
</div>
<div class="form-box">
    <form class="form" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {{ form.username }}
        {{ form.password }}
        <input class="button" type="submit" value="Login">
        <input type="hidden" name ="next" value="{{ next }}">
    </form>
</div>

{% endblock %}
